$mobile-view-height: 64px

#mobile-menu
  display: none
  
@media only screen and (max-width: 600px)
  #sidebar
    display: none

  #content
    width: 100vw !important

  #gallery
    width: calc(100vw - 20px * 2) !important
    padding: 20px !important

  #scroll-view
    height: calc(100vh - $mobile-view-height)
    overflow-y: scroll

  #mobile-menu
    display: block !important
    background-color: hsl(230, 35%, 4%)
    width: 100%
    height: $mobile-view-height