@use "normalize.css"

$header-height: 50px
$color-header: hsl(230, 35%, 4%)
$color-sidebar: hsl(240, 15%, 10%)
$color-content: hsl(240, 7%, 20%)
$text-color: #ccc
$text-color-bright: #eee
$modal-header-height: 40px
$metadata-width: 340px

body
  font-family: sans-serif

body.modal-present
  overflow: hidden

.hidden
  display: none !important

a
  color: $text-color
  text-decoration: none

a:hover
  color: $text-color-bright

#header
  display: block
  width: 100vw
  height: $header-height
  background-color: $color-header

#title
  margin: 16px
  line-height: $header-height
  font-size: 18px

#main-container
  width: 100vw
  background-color: blue
  display: flex

#sidebar
  width: $header-height
  min-height: calc(100vh - $header-height)
  background-color: $color-sidebar

  .navbutton
    display: block
    width: $header-height
    height: $header-height
    background-color: #202020
    transition: background-color 300ms

    svg
      fill: $text-color
      margin: 25%
      width: 50%
      height: 50%
      transition: fill 300ms

    img
      margin: 15%
      width: 70%
      height: 70%
      border-radius: 50%

  .navbutton:hover, .navbutton.selected
    background-color: #383838
    svg
      fill: #fff

#content
  background-color: $color-content
  min-height: calc(100vh - $header-height)
  width: calc( 100vw - $header-height)

#gallery
  padding: 30px

#gallery-title
  margin-bottom: 20px
  font-size: 24px
  color: #ccc

#gallery-cards
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  width: 100%
  gap: 12px

.gallery-card
  cursor: pointer

  .thumbnail
    display: block
    width: 100%
    aspect-ratio: 1 / 1
    background-position: 50%
    background-repeat: no-repeat
    background-size: cover

  .metadata
    background-color: $color-sidebar
    padding: 8px
    color: #eee

    p
      margin: 4px
      font-size: 13px

/* Modal */

.modal-present #modal-container
  display: flex

#modal-container
  display: none
  width: 100vw
  height: 100vh
  position: fixed
  bottom: 0
  right: 0
  justify-content: space-between
  background-color: #000

  #modal-left
    width: calc(100vw - $metadata-width)
    display: flex
    flex-direction: column
    justify-content: space-between

  #modal-header
    width: 100%
    height: $modal-header-height
    line-height: $modal-header-height
    font-size: 16px
    text-align: center
    color: #fff

  #modal-footer
    width: 100%
    height: $modal-header-height

  #image-container
    width: 100%
    object-fit: contain
    max-height: calc(100vh - $modal-header-height*2)

  #metadata
    width: $metadata-width
    background-color: #1f1f1f
    color: #ddd

    h1
      font-size: 20px
      text-align: center
      margin: 20px

    table
      margin: 16px
      font-size: 16px

    tr
      padding: 8px

    td
      vertical-align: top

    td:first-child
      text-align: right
      color: #aaa
      padding-right: 4px
