<div id="gallery">
    <div id="gallery-title">
        All photos
    </div>
    <div id="gallery-cards">
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
        <div class="gallery-card">
            <div class="thumbnail"></div>
            <div class="metadata">
                <p>Lorem ipsum</p>
                <p>Dolor sit amet</p>
            </div>
        </div>
    </div>
</div>