<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freyaphotos</title>
    <style id="style"></style>
    <script id="script"></script>
</head>

<body>
    <div id="header">
        <div>
            <a id="title" href="/">Freyaphotos</a>
        </div>
    </div>
    <div id="main-container">
        <div id="sidebar"></div>
        <div id="content"></div>
    </div>
    <div id="modal-container">
        <div id="modal-left">
            <div id="modal-header"></div>
            <!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
            <img id="image-container"></img>
            <div id="modal-footer"></div>
        </div>
        <div id="metadata">
            <h1>Metadata</h1>

            <table>
                <tbody id="metadata-tbody">
                    <tr key="name"><td>Name</td><td></td></tr>
                    <tr key="resolution"><td>Resolution</td><td></td></tr>
                    <tr key="time"><td>Time</td><td></td></tr>
                    <tr><td>&#x200B;</td></tr>
                    <tr key="prettyCamera"><td>Camera</td><td></td></tr>
                    <tr key="lens"><td>Lens</td><td></td></tr>
                    <tr key="iso"><td>ISO</td><td></td></tr>
                    <tr key="prettyAperture"><td>Aperture</td><td></td></tr>
                    <tr key="prettyShutterSpeed"><td>Shutter speed</td><td></td></tr>
                    <tr><td>&#x200B;</td></tr>
                    <tr key="country"><td>&ZeroWidthSpace;Country</td><td></td></tr>
                    <tr key="region"><td>&ZeroWidthSpace;Region</td><td></td></tr>
                    <tr key="city"><td>&ZeroWidthSpace;City</td><td></td></tr>
                    <tr key="sublocation"><td>Sublocation&ZeroWidthSpace;</td><td></td></tr>
                    <tr><td>&#x200B;</td></tr>
                    <tr key="photographer"><td>&ZeroWidthSpace;Photographer</td><td></td></tr>
                    <tr key="editor"><td>Editor</td><td></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>