<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freyaphotos</title>
    <style id="style"></style>
    <script id="script"></script>
</head>

<body>
    <div id="header">
        <div>
            <a id="title" href="/">Freyaphotos</a>
        </div>
    </div>
    <div id="main-container">
        <div id="sidebar"></div>
        <div id="content"></div>
    </div>
    <div id="modal-container">
        <div id="modal-left">
            <div id="modal-header">
                DSC something something
            </div>
            <div id="image-container">

            </div>
            <div id="modal-footer">
            
            </div>
        </div>
        <div id="metadata">
            <h1>Metadata</h1>
            <table>
                <tr><td>Name</td></tr>
                <tr><td>Resolution</td></tr>
                <tr></tr>
                <tr><td>ISO</td></tr>
                <tr><td>Camera</td></tr>
                <tr><td>Aperture</td></tr>
            </table>
        </div>
    </div>
</body>

</html>